.Container {
	position: relative;
}

.Container__container {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 42px 32px 0;
	background: #F0F0F0;
	overflow-y: scroll;
}

.Container__content {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}