.btn{
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  height: 40px;
  line-height: 20px;
  background: white;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
}

.input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #D0D0D0;
  border-radius: 7px;
  padding: 10px 15px;
  height: 36px;
  line-height: 16px;
  background: #F0F0F0;
  font-size: 14px;
  outline: 0;

  &:focus {
    border: 2px solid #B0B0B0;
    background: #F3F3F3;
  }
}