.Signup {
	padding: 32px;
}

.Signup__title {
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 48px;
}

.Signup__form {
	
}

.Signup__input {
	@extend .input;
	width: 100%;
	margin: 6px 0 24px;
}

.Signup__forgotPassword {
	margin-left: 5px;
	color: #777;
	font-style: italic;

	& > a {
		color: #777;
	}
}

.Signup__submit {
	@include btn($orange);
	width: 100%;
	color: white;
	margin: 16px 0 40px;
}

.Signup__createAccount {
	color: $orange;
}