$orange: #f26300;
$pink: #f500d0;
$dgreen: #4a8c27;
$lgreen: #b1d620;

@import "lib";
@import "global";
@import "app";
@import "splash";
@import "login";
@import "signup";
@import "container";
@import "navbar";
@import "home";
@import "students";
@import "orders";